header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.fondo{
    width: 100%;
    height: 100%;
    filter: blur(5px);
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.contenido{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.walnesy{
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}