nav{
  background-color: #015E42;
  height: 75px;
  display: grid;
  grid-template-columns: 50px 50px  auto  100px 50px;
  box-sizing: border-box;
  padding: 0 30px;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 100;
}
img{ 
  width: 100%;
}

.burguer{
  box-sizing: border-box;
  padding: 0 10px;
}
.dominicana{
  grid-column: 5/6;
  grid-row: 1/2;
}
.lista{
  grid-column: 4/5;
  margin: 0;
  list-style: none;
  padding: 0;
}
li{
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}